<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSOtKXCuvB-9znIsjdIJH7TvOScUavtV8</string>
	<key>GCM_SENDER_ID</key>
	<string>922311331926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>choi6.Drug-Info</string>
	<key>PROJECT_ID</key>
	<string>druginfo-5b382</string>
	<key>STORAGE_BUCKET</key>
	<string>druginfo-5b382.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922311331926:ios:2b54d1e9198e20ca432bf7</string>
</dict>
</plist>